.sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 60px;
    white-space: nowrap;
    overflow-x: hidden;
    transition: width 0.4s;
    z-index: 1;
}

.sidebar:hover {
    width: 250px;
}

.sidebar a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 24px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar i,
.sidebar span {
    vertical-align: middle;
}

.sidebar i {
    margin-right: 35px;
}

.sidebar a span {
    display: none;
}

@media screen and (min-width: 768px) {
    .sidebar a span {
        display: inline-block;
    }
    .sidebar:hover a span {
        display: inline-block;
    }
    .sidebar i {
        margin-right: 15px;
    }
}
